# Ignore the storage file(file.json)
file.json

# Ignore vi swap files
.*.swp

# Ignore compiled Python files
__pycache__/

# Ignore Unit tests generate coverage reports
htmlcov/

# Ignore log files
*.log

# Ignore sensitive configuration files
config.ini
